MOSQUITTO_IMAGE=docker.io/library/eclipse-mosquitto:2.0.22
MOSQUITTO_CONTAINER_NAME=mosquitto
MOSQUITTO_NETWORK=default
MOSQUITTO_BIND_IP=192.168.1.106
MOSQUITTO_CONFIG_VOLUME=mosquitto-config
MOSQUITTO_DATA_VOLUME=mosquitto-data
MOSQUITTO_LOG_VOLUME=mosquitto-log
MOSQUITTO_STOP_TIMEOUT=30
